* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}
  
main { 
    height: 100vh;
    background-color: SkyBlue;  
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*flex-start*/
    align-items: center; /*stretch*/
}
  
ul {
    list-style-type: none;
    height: 75vh;
    width: 50vw;
    display: grid;  
    /*
    justify-items: stretch; 
    align-items: stretch; 
    */
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

li {
    display: grid;
    /*
    justify-items: stretch; 
    align-items: stretch; 
    */    
}

.new {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: RoyalBlue;
    color: white;
}

.square {
    font-size: 10rem;
}

.winner {
	background-color: SeaGreen;
}
